* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 600px;
  background-color: rgb(208, 208, 208); /* свой цвет фона*/
  font-size: 32px;
  font-family: Arial, Helvetica, sans-serif;
}

/* кнопка */
/* button {
  font-size: 32px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(221, 236, 236);
  padding: 24px;
  border-radius: 12px;
  border: 1px solid black;
} */

/* плейсхолдер для текста */
/* #demo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  transition: all 1s ease;
}

.small {
  width: 10vw;
  height: 10vw;
}

.blue {
  background-color: blue;
} */

/* качества новые */

/* .big {
  width: 30vw;
  height: 30vw;
}

.pink {
  background-color: pink;
}

.square {
  border-radius: 4%;
} */

section {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;

  display: flex;
  flex-wrap: wrap;
}
.circle {
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  transition: all 1s ease;
}
.white {
  background-color: white;
}

.black {
  background-color: black;
}
