body {
  margin: 0;
  overflow: hidden;
}

#main3 {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.card,
.clone {
  position: absolute;
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.card img,
.clone img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
}

.fade {
  opacity: 10%;
}
