* {
  box-sizing: border-box;
}

body {
  height: 600px;
  background-color: rgb(225, 225, 225); /* свой цвет фона*/

  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}
.flower {
  background-image: url("../images/ветряк.svg");
  height: 444px;
  width: 444px;
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  transition: all 2s ease;
}

.container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status-anim-right {
  animation: wind 1s infinite linear;
  filter: hue-rotate(180deg);
}
.status-anim-left {
  animation: wind 1s infinite reverse linear;
}

@keyframes wind {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
