* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 600px;
  background-color: rgb(225, 225, 225); /* свой цвет фона*/
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: crosshair;
}

button {
  font-size: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #67d1ff;
  padding: 24px;
  border-radius: 12px;
  border: 0px;
  cursor: pointer;
}

#demo {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
